<template>
  <div class="infoContainer">
    <form class="form-horizontal text-center border border-light rounded p-5" id="add-song">
      <h3>Pealkiri</h3>
      <hr>
      <div class="form-row mb-4">
        <label for="title.estNorth" class="addSongLabel col-3">Põhja-Eesti pealkiri</label>
        <input
          type="text"
          id="title.estNorth"
          class="form-control col-9"
          v-model="songdata.title.estNorth"
          data-cy="northEstTitle"
        />
      </div>
      <div class="form-row mb-4">
        <label class="addSongLabel col-3">Lõuna-Eesti pealkiri</label>
        <input
          type="text"
          class="form-control col-9"
          v-model="songdata.title.estSouth"
          data-cy="southEstTitle"
        />
      </div>
      <div class="form-row mb-4">
        <label class="addSongLabel col-3">Originaal pealkiri</label>
        <input
          type="text"
          class="form-control col-9"
          v-model="songdata.title.original"
          data-cy="originalTitle"
        />
      </div>
      <p id="errorMessage" class="form-row mb-4" v-if="errorMsg" style="color: red">{{ errorMsg }}</p>

      <br>
      <h3>Viisiautor ja viis</h3>
      <hr>
      <div class="form-row mb-4">
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Eesnimi</label>
            <input
              type="text"
              class="form-control col-8"
              v-model="songdata.melodyAuthor.firstName"
            />
          </div>
        </div>
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Perenimi</label>
            <input
              type="text"
              class="form-control col-8"
              v-model="songdata.melodyAuthor.lastName"
            />
          </div>
        </div>
      </div>
      
      <div class="form-row mb-4">
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Sündinud</label>
            <input
              class="col-8"
              type="text"
              v-bind:class="getClass(songdata.melodyAuthor.birthDate)"
              placeholder="dd-mm-yyyy"
              v-model="songdata.melodyAuthor.birthDate"
              data-cy="melodyAuthorBirth"
            />
          </div>
        </div>
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Surnud</label>
            <input
              class="col-8"
              type="text"
              v-bind:class="getClass(songdata.melodyAuthor.deathDate)"
              placeholder="dd-mm-yyyy"
              v-model="songdata.melodyAuthor.deathDate"
            />
          </div>
        </div>
      </div>

      <div class="form-row mb-4">
        <label class="addSongLabel col-3">Viisi päritolu</label>
        <input
          type="text"
          class="form-control col-9"
          v-model="songdata.melodyOrigin"
        />
      </div>
      <div class="form-row mb-4">
        <label class="addSongLabel col-3">Meloodiline informatsioon</label>
        <input
          type="textarea"
          class="form-control col-9"
          v-model="songdata.melodyInfo"
        />
      </div>

      <br>
      <h3>Originaalteksti autor ja tekst</h3>
      <hr>
      <div class="form-row mb-4">
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Eesnimi</label>
            <input
              type="text"
              class="form-control col-8"
              v-model="songdata.textAuthor.firstName"
            />
          </div>
        </div>
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Perenimi</label>
            <input
              type="text"
              class="form-control col-8"
              v-model="songdata.textAuthor.lastName"
            />
          </div>
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Sündinud</label>
            <input
              class="col-8"
              type="text"
              v-bind:class="getClass(songdata.textAuthor.birthDate)"
              placeholder="dd-mm-yyyy"
              v-model="songdata.textAuthor.birthDate"
            />
          </div>
        </div>
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Surnud</label>
            <input
              class="col-8"
              type="text"
              v-bind:class="getClass(songdata.textAuthor.deathDate)"
              placeholder="dd-mm-yyyy"
              v-model="songdata.textAuthor.deathDate"
            />
          </div>
        </div>
      </div>

      <label class="addSongLabel">Originaaltekst</label>
      <div class="form-row mb-4">
        <div class="col-3"></div>
        <textarea
          rows="8"
          class="form-control col-6"
          v-model="songdata.originalText"
        ></textarea>
        <div class="col-3"></div>
      </div>
      <div class="form-row mb-4">
        <div class="col-3"></div>
        <label class="addSongLabel col-2">Teksti päritolu</label>
        <input
          type="text"
          class="form-control col-4"
          v-model="songdata.textOrigin"
        />
        <div class="col-3"></div>
      </div>

      <div class="form-row mb-4">
        <div class="col-3"></div>
        <label class="addSongLabel col-2">Stroofivalem</label>
        <input
          type="text"
          class="form-control col-4"
          placeholder="aa.b.aa.b"
          v-model="songdata.strroof"
        />
        <div class="col-3"></div>
      </div>

      <div class="form-row mb-4">
        <div class="col-3"></div>
        <label class="addSongLabel col-2">Värsimõõt</label>
        <select class="form-control col-4" v-model="songdata.rhythm">
          <option value disabled selected>Vali värsimõõt</option>
          <option value="jamb">Jamb</option>
          <option value="trohheus">Trohheus</option>
          <option value="daktül">Daktül</option>
          <option value="sega">Sega</option>
          <option value="proosa">Proosa</option>
          <option value="">Tühista valik</option>
        </select>
        <div class="col-3"></div>
      </div>

      <br>
      <h3>Tõlketeksti autor ja tekst</h3>
      <hr>
      <div class="form-row mb-4">
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Eesnimi</label>
            <input
              type="text"
              class="form-control col-8"
              v-model="songdata.translationAuthor.firstName"
            />
          </div>
        </div>
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Perenimi</label>
            <input
              type="text"
              class="form-control col-8"
              v-model="songdata.translationAuthor.lastName"
            />
          </div>
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Sündinud</label>
            <input
              class="col-8"
              type="text"
              v-bind:class="getClass(songdata.translationAuthor.birthDate)"
              placeholder="dd-mm-yyyy"
              v-model="songdata.translationAuthor.birthDate"
            />
          </div>
        </div>
        <div class="col form-group">
          <div class="row">
            <label class="addSongLabel col-4">Surnud</label>
            <input
              class="col-8"
              type="text"
              v-bind:class="getClass(songdata.translationAuthor.deathDate)"
              placeholder="dd-mm-yyyy"
              v-model="songdata.translationAuthor.deathDate"
            />
          </div>
        </div>
      </div>

      <label class="addSongLabel">Tõlketekst</label>
      <div class="form-row mb-4">
        <div class="col-3"></div>
        <textarea
          rows="8"
          class="form-control col-6"
          v-model="songdata.translationText"
        ></textarea>
        <div class="col-3"></div>
      </div>
      <div class="form-row mb-4">
        <div class="col-3"></div>
        <label class="addSongLabel col-2">Tõlketeksti päritolu</label>
        <input
          type="text"
          class="form-control col-4"
          v-model="songdata.translationTextOrigin"
        />
        <div class="col-3"></div>
      </div>

      <br>
      <h3>Hümnoloogiline info ja pühakirja viited</h3>
      <hr>
      <div class="form-row mb-4">
        <div class="col">
          <label class="addSongLabel">Hümnoloogiline info</label>
          <textarea
            rows="4"
            class="form-control"
            v-model="songdata.humnInfo"
          ></textarea>
        </div>
        <div class="col">
          <label class="addSongLabel">Pühakirja viited</label>
          <textarea
            rows="4"
            class="form-control"
            v-model="songdata.bibleReferences"
          ></textarea>
        </div>
      </div>

      <br>
      <h3>Failide lisamine</h3>
      <hr>
      <div class="row" v-for="(item, index) in songdata.pdfs" :key="item.id">
        <label class="addSongLabel">PDF</label>
        <div class="col-4">
          <b-form-file v-if="!songdata.pdfs[index].fileLocation" v-model="songdata.pdfs[index].fileLocation" v-bind:key="index" accept=".pdf" placeholder="Vali PDF"></b-form-file>
          <b-form-file v-if="songdata.pdfs[index].fileLocation" v-model="songdata.pdfs[index].fileLocation" v-bind:key="index" accept=".pdf" :placeholder="songdata.pdfs[index].fileLocation.name"></b-form-file>
        </div>
        <hr>
        <div class="col-6">
          <input
            type="text"
            class="form-control"
            placeholder="faili kirjeldus"
            v-model="songdata.pdfs[index].description"
            :key="index"
          />
        </div>
        <div class="col-1">
          <b-button variant="danger" @click="deleteFromPdfs(index)" :key="index">X</b-button>
        </div>
      </div>
      <br>
      <b-button variant="secondary" @click="addToPdfs">Lisa PDF väli</b-button>

      <hr>
      <div class="row" v-for="(item, index) in songdata.recordings" :key="item.id">
        <label class="addSongLabel">MP3</label>
        <div class="col-4">
          <b-form-file v-if="!songdata.recordings[index].fileLocation" v-model="songdata.recordings[index].fileLocation" v-bind:key="index" accept=".mp3" placeholder="Vali laulu MP3"></b-form-file>
          <b-form-file v-if="songdata.recordings[index].fileLocation" v-model="songdata.recordings[index].fileLocation" v-bind:key="index" accept=".mp3" :placeholder="songdata.recordings[index].fileLocation.name"></b-form-file>
        </div>
        <hr>
        <div class="col-6">
          <input
            type="text"
            class="form-control"
            placeholder="Helifaili kirjeldus"
            v-model="songdata.recordings[index].description"
            :key="index"
          />
        </div>
        <div class="col-1">
          <b-button variant="danger" @click="deleteFromRecordings(index)" :key="index">X</b-button>
        </div>
      </div>
      <br>
      <b-button variant="secondary" @click="addToRecordings">Lisa MP3 väli</b-button>

      <hr>
      <div class="row">
        <label class="addSongLabel">XML</label>
        <b-form-file
          class="col-4"
          v-model="xml"
          accept=".musicxml, .xml"
          placeholder="Vali musicXML"
        ></b-form-file>
      </div>

      <hr />
      <h3 v-on:click="isHiddenRights = !isHiddenRights">Autoriõigused</h3>
      <label v-on:click="isHiddenRights = !isHiddenRights" v-if="isHiddenRights">kliki, et lisada</label>
      <div v-if="!isHiddenRights">
        <label v-on:click="isHiddenRights = !isHiddenRights">Kirjuta väljale nimi, kui autoriõigused rakenduvad</label>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Meloodia õiguste omanik"
            v-model="songdata.copyRights.melody"
          />
        </div>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Teksti õiguste omanik"
            v-model="songdata.copyRights.text"
          />
        </div>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Tõlketeksti õiguste omanik"
            v-model="songdata.copyRights.translation"
          />
        </div>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Avaliku kasutamise õiguste omanik"
            v-model="songdata.copyRights.publicUse"
          />
        </div>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Avaldamise õiguste omanik"
            v-model="songdata.copyRights.publicize"
          />
        </div>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Seade õiguste omanik"
            v-model="songdata.copyRights.arrangement"
          />
        </div>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Mõni muu märge autoriõiguste kohta"
            v-model="songdata.copyRights.other"
          />
        </div>
      </div>

      <hr />
      <h3 v-on:click="isHiddenRefs = !isHiddenRefs">Lauluraamatute viited</h3>
      <label v-on:click="isHiddenRefs = !isHiddenRefs" v-if="isHiddenRefs">kliki, et lisada</label>
      <div v-if="!isHiddenRefs">
        <label v-on:click="isHiddenRefs = !isHiddenRefs">Kirjuta väljale viite leheküljenumber, kui esineb lauluraamatus, vastasel korral jätta tühjaks</label>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="LR1721"
              v-model="songdata.bookReferences.LR1721"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.LR1721" accept=".pdf" placeholder="Vali LR1721 PDF viide"></b-form-file>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="LR1848"
              v-model="songdata.bookReferences.LR1848"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.LR1848" accept=".pdf" placeholder="Vali LR1848 PDF viide"></b-form-file>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="LR1899"
              v-model="songdata.bookReferences.LR1899"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.LR1899" accept=".pdf" placeholder="Vali LR1899 PDF viide"></b-form-file>
          </div>          
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="KLPR1991"
              v-model="songdata.bookReferences.KLPR1991"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.KLPR1991" accept=".pdf" placeholder="Vali KLPR1991 PDF viide"></b-form-file>
          </div>            
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Punchel"
              v-model="songdata.bookReferences.Punchel"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.Punchel" accept=".pdf" placeholder="Vali Punchel PDF viide"></b-form-file>
          </div>  
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Hagen I"
              v-model="songdata.bookReferences.Hagen1"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.Hagen1" accept=".pdf" placeholder="Vali Hagen I PDF viide"></b-form-file>
          </div>  
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Hagen II"
              v-model="songdata.bookReferences.Hagen2"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.Hagen2" accept=".pdf" placeholder="Vali Hagen II PDF viide"></b-form-file>
          </div>  
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Hagen III"
              v-model="songdata.bookReferences.Hagen3"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.Hagen3" accept=".pdf" placeholder="Vali Hagen III PDF viide"></b-form-file>
          </div> 
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="UKLPR"
              v-model="songdata.bookReferences.UKLPR"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.UKLPR" accept=".pdf" placeholder="Vali UKLPR PDF viide"></b-form-file>
          </div> 
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Kreegi RKV fond"
              v-model="songdata.bookReferences.KreegiRKVfond"
            />
          </div>
          <div class="col">
            <b-form-file v-model="songdata.bookReferencesPDF.KreegiRKVfond" accept=".pdf" placeholder="Vali KreegiRKVfond PDF viide"></b-form-file>
          </div> 
        </div>
      </div>

      <hr>
      <h3 v-on:click="isHiddenUKLPR = !isHiddenUKLPR">UKLPR viited</h3>
      <label v-on:click="isHiddenUKLPR = !isHiddenUKLPR" v-if="isHiddenUKLPR">kliki, et lisada</label>
      <div v-if="!isHiddenUKLPR">
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="UKLPRi peatükk"
            v-model="songdata.chapterUKLPR"
          />
        </div>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="UKLPRi alapeatükk"
            v-model="songdata.subchapterUKLPR"
          />
        </div>
        <div class="form-row mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="UKLPRi number"
            v-model="songdata.numberUKLPR"
          />
        </div>
      </div>

      <hr>
      <h3>Märkmed teistele administraatoritele</h3>
      <div class="form-row mb-4">
        <textarea
          rows="4"
          class="form-control"
          placeholder="Märkmed"
          v-model="songdata.comments"
        ></textarea>
      </div>

      <hr />
      <b-button variant="primary" @click="addSong">Lisa laul</b-button>
    </form>
  </div>
</template>

<style>
  .infoContainer {
    background-color: #f8f9fa;
    border: 2px;
    margin-top: 20px;
  }
  .addSongLabel {
    text-align: left;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
  }
  .middleEl {
    margin-top: auto;
    margin-bottom: auto;
  }
</style>

<script>
import Api from "@/Api";
import Change from '../Change.js'

export default {

  data: function() {
    return {
      errorMsg: '',
      isHiddenRights: true,
      isHiddenRefs: true,
      isHiddenUKLPR: true,
      pdf: null,
      xml: null,
      mp3: null,
      titles: "",
      userName: '',
      songdata: {
        title: {
          estNorth: "",
          estSouth: "",
          original: ""
        },

        textAuthor: {
          firstName: "",
          lastName: "",
          birthDate: "",
          deathDate: ""
        },

        melodyAuthor: {
          firstName: "",
          lastName: "",
          birthDate: "",
          deathDate: ""
        },

        translationAuthor: {
          firstName: "",
          lastName: "",
          birthDate: "",
          deathDate: ""
        },

        textOrigin: "",
        melodyOrigin: "",
        translationTextOrigin: "",
        strroof: "",
        rhythm: "",
        translationText: "",
        originalText: "",
        melodyInfo: "",
        humnInfo: "",
        bibleReferences: "",

        copyRights: {
          melody: "",
          text: "",
          translation: "",
          publicUse: "",
          pulicize: "",
          arrangement: "",
          other: ""
        },

        bookReferences: {
          LR1721: "",
          LR1848: "",
          LR1899: "",
          KLPR1991: "",
          Punchel: "",
          Hagen1: "",
          Hagen2: "",
          Hagen3: "",
          UKLPR: "",
          KreegiRKVfond: ""
        },

        bookReferencesPDF: {
          LR1721: null,
          LR1848: null,
          LR1899: null,
          KLPR1991: null,
          Punchel: null,
          Hagen1: null,
          Hagen2: null,
          Hagen3: null,
          UKLPR: null,
          KreegiRKVfond: null
        },

        recordings: [{
          description: "",
          fileLocation: null
        }],

        pdfs: [{
          description: "",
          fileLocation: null
        }],

        xmlLocation: "",

        chapterUKLPR: "",
        subchapterUKLPR: "",
        numberUKLPR: "",

        comments: "",
      }
    };
  },

  methods: {
    addToRecordings() {
      this.songdata.recordings.push({ fileLocation: null, description: '' })
    },
    deleteFromRecordings(index) {
      this.songdata.recordings.splice(index, 1)
    },
    addToPdfs() {
      this.songdata.pdfs.push({ fileLocation: null, description: '' })
    },
    deleteFromPdfs(index) {
      this.songdata.pdfs.splice(index, 1)
    },
    async addSong() {

      if (this.formValidation()) {
        let formData;

        for (let pdf in this.$data.songdata.pdfs) {
          if (this.$data.songdata.pdfs[pdf].fileLocation) {
            formData = new FormData();
            formData.append("file", this.$data.songdata.pdfs[pdf].fileLocation);
            const response = await Api.uploadFile(formData);
            this.$data.songdata.pdfs[pdf].fileLocation = response.data.filePath;
          }
        }

        for (let recording in this.$data.songdata.recordings) {
          if (this.$data.songdata.recordings[recording].fileLocation) {
            formData = new FormData();
            formData.append("file", this.$data.songdata.recordings[recording].fileLocation);
            const response = await Api.uploadFile(formData);
            this.$data.songdata.recordings[recording].fileLocation = response.data.filePath;
          }
        }

        for (let refPDF in this.$data.songdata.bookReferencesPDF) {
          if (this.$data.songdata.bookReferencesPDF[refPDF]) {
            formData = new FormData();
            formData.append("file", this.$data.songdata.bookReferencesPDF[refPDF]);
            const pdfResponse = await Api.uploadFile(formData);
            this.$data.songdata.bookReferencesPDF[refPDF] = pdfResponse.data.filePath;
          }
        }

        if (this.$data.xml) {
          formData = new FormData();
          formData.append("file", this.$data.xml);
          const xmlResponse = await Api.uploadFile(formData);
          this.$data.songdata.xmlLocation = xmlResponse.data.filePath;
        }

        Api.addSong(this.$data.songdata)
          .then(result => {
            this.$router.push("/detailView/" + result.data.song._id.toString());
            var changeText = "Lisati laul";
            var fieldName = "Lisa laul";
            var currentDate = this.getDate();
            this.addAllTitlesToOneString();
            var thisChange = new Change(
              this.titles,
              changeText,
              this.userName,
              currentDate,
              this._id,
              fieldName
            );
            Api.sendChange(thisChange);
            console.log("Song added!");
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        window.scrollTo(0,0);
      }
    },
    getClass(date){
      if (date == '') {
        return "form-control"
      }
      else if (this.dateValidation(date)) {
        return "form-control is-valid"
      } else {
        return "form-control is-invalid"
      }
    },
    dateValidation(date) {
      if (date == '') return true

      const splittedDate = date.split("-")

      if (splittedDate.length == 1) {
        if (splittedDate[0].match(/^-{0,1}\d+$/)) {
          return true
        }
      }
 
      try {
        if (splittedDate.length != 3 || splittedDate[0] > 31 || splittedDate[1] > 12 || !splittedDate[2].match(/^-{0,1}\d+$/) || !splittedDate[1].match(/^-{0,1}\d+$/) || !splittedDate[0].match(/^-{0,1}\d+$/)) return false
      } catch (err) {
        return false
      }
      
      return true
    },
    formValidation() {
      if (this.songdata.title.estNorth == '' && this.songdata.title.estSouth == '' && this.songdata.title.original == '') {
        this.errorMsg = 'Vähemalt ühe pealkirja lisamine kohustuslik!'
        return false
      }
      if (!this.dateValidation(this.songdata.melodyAuthor.birthDate)
          || !this.dateValidation(this.songdata.melodyAuthor.deathDate)
          || !this.dateValidation(this.songdata.textAuthor.birthDate)
          || !this.dateValidation(this.songdata.textAuthor.deathDate)
          || !this.dateValidation(this.songdata.translationAuthor.birthDate)
          || !this.dateValidation(this.songdata.translationAuthor.deathDate)) {

        this.errorMsg = 'Esinevad vigased kuupäevad! Kirjutada kuupäev kujul dd-mm-yyyy või ainult aasta ehk yyyy. (nt 04-12-2019)'
        return false
      }
      return true
    },
    addAllTitlesToOneString() {
      if (this.songdata.title.estNorth) {
        this.titles = this.titles.concat(this.songdata.title.estNorth + "; ");
      }
      if (this.songdata.title.estSouth) {
        this.titles = this.titles.concat(this.songdata.title.estSouth + "; ");
      }
      if (this.songdata.title.original) {
        this.titles = this.titles.concat(this.songdata.title.original + "; ");
      }
    },
    getDate() {
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, "0");
      var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      var yyyy = today.getFullYear();

      today = dd + '-' + mm + '-' + yyyy;
      return today
    }
  },
  created () {
    if (localStorage.getItem("token")) this.isLoggedIn = true
  }
};
</script>
