<template>
    <div class="container">
        <br>
        <h3>Administraatorid</h3>
        <div id="admin" v-for="(user, index) in users" v-bind:key="index">
            <div class="card">
                <div class="card-header" :id="'user-'+user.email">
                    <label>{{ user.firstname + " " + user.lastname + " - " + user.email }}</label>
                    <b-button v-if="isMainAdmin" style="float: right" variant="danger" @click="removeUser(user._id)">Eemalda</b-button>
                    <b-button v-if="isMainAdmin && !user.mainAdmin" style="float: right" variant="outline-primary" @click="changeMainAdminStatus(user)">Anna main admin õigused</b-button>
                    <b-button v-if="isMainAdmin && user.mainAdmin" style="float: right" variant="outline-danger" @click="changeMainAdminStatus(user)">Eemalda main admin õigused</b-button>
                </div>
            </div>
        </div>

        <div v-if="isMainAdmin">
            <hr>
            <h4>Saadetud kutsed</h4>
            <div id="admin" v-for="(user, index) in addedUsers" v-bind:key="index">
                <div class="card">
                    <div class="card-header" :id="'user-'+user.email">
                        <label>{{ user.email }}</label>
                        <b-button v-if="isMainAdmin" style="float: right" variant="danger" @click="removeUser(user._id)">Eemalda</b-button>
                        <b-button v-if="isMainAdmin && !user.mainAdmin" style="float: right" variant="outline-primary" @click="changeMainAdminStatus(user)">Anna main admin õigused</b-button>
                        <b-button v-if="isMainAdmin && user.mainAdmin" style="float: right" variant="outline-danger" @click="changeMainAdminStatus(user)">Eemalda main admin õigused</b-button>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="isMainAdmin">
            <hr>
            <h4>Uue admini lisamine</h4>
            <div v-if="isMainAdmin" class="form-row mb-4">
                <input
                id="newAdminEmail"
                type="text"
                class="form-control"
                placeholder="Uue admini e-mail"
                v-model="newUserEmail"
                />
                <b-button variant="primary" @click="registerNewUser(newUserEmail)">Lisa admin</b-button>
            </div>
            <br>
            <div>{{errorMsg}}</div>
        </div>

    </div>
</template>

<script>
import Api from '@/Api'

export default {
    data() {
        return {
            errorMsg: '',
            isLoggedIn: false,
            isMainAdmin: false,
            newUserEmail: '',
            users: [],
            addedUsers: []
        }
    },
    methods: {
        removeUser(userID) {
            if (confirm("Kas soovid admini eemaldada?")) {
                Api.removeUser({ "_id": userID })
                    .then(result => {
                        console.log(result)
                        location.reload()
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        registerNewUser(userEmail) {
            if (userEmail == '') {
                console.log("Lisamine ebaõnnestus!")
                return
            }

            Api.sendInvitation({ recipient: userEmail})
                .then(result => {
                    console.log(result)
                    location.reload()
                })
                .catch(err => {
                    console.log(err)
                    this.errorMsg = "Lisamine ebaõnnestus. Vajadusel kustuta lisatud email ja proovi uuesti."
                })
        },
        changeMainAdminStatus(user) {
            const reqBody = { "_id": user._id, "mainAdmin": !user.mainAdmin }
            Api.changeMainAdminStatus(reqBody)
                .then(result => {
                    location.reload()
                    console.log(result)
                })
                .catch(err => {
                    console.log(err)
                })
        }
    },
    created(){
        if (localStorage.getItem("token")) this.isLoggedIn = true

        Api.getUsers()
            .then(res => {
                const allUsers = res.data.users
                this.isMainAdmin = res.data.isMainAdmin

                allUsers.forEach(user => {
                    if (user.firstname) {
                        this.users.push(user)
                    } else {
                        this.addedUsers.push(user)
                    }
                });
            })
            .catch(error => console.log(error))
    }
}
</script>