<template>
    <div class="container">
    <div v-if="isCopyRightProtected && !isLoggedIn" class="infoContainer">
        <h2>Üldinformatsioon</h2>
        <hr>
        <div v-if=" originalTitle"><b>Originaal tiitel: </b>{{ originalTitle }}</div>
        <div v-if=" estNorthTitle"><b>Põhja-Eesti tiitel: </b>{{ estNorthTitle }}</div>
        <div v-if=" estSouthTitle"><b>Lõuna-Eesti tiitel: </b>{{ estSouthTitle }}</div>
        <hr>
        <p><b>See laul on autoriõigustega kaitstud ja selle puudub avalik ligipääs. Laulu info nägemiseks pöörduge administraatorite poole.</b></p>
    </div>
    <div v-if="!isCopyRightProtected || isLoggedIn" class="infoContainer">
        <h2>Üldinformatsioon</h2>
        <hr>
        <div v-if=" originalTitle"><b>Originaal tiitel: </b>{{ originalTitle }}</div>
        <div v-if=" estNorthTitle"><b>Põhja-Eesti tiitel: </b>{{ estNorthTitle }}</div>
        <div v-if=" estSouthTitle"><b>Lõuna-Eesti tiitel: </b>{{ estSouthTitle }}</div>

        <div v-if="hasMelodyInfo">
          <h2>Meloodia</h2>
          <hr>
          <div v-if="song.melodyInfo"><b>Meloodiline informatsioon: </b>{{ song.melodyInfo }}</div>
          <div v-if=" melodyAuthor && melodyAuthorBirth && melodyAuthorDeath"><b> Viisi autor: </b>{{ song.melodyAuthor.firstName }} {{ song.melodyAuthor.lastName }} ( {{melodyAuthorBirth}} - {{melodyAuthorDeath}} ) </div>
          <div v-if=" melodyAuthor && melodyAuthorBirth && !melodyAuthorDeath"><b> Viisi autor: </b>{{ song.melodyAuthor.firstName }} {{ song.melodyAuthor.lastName }} ( {{melodyAuthorBirth}} ) </div>
          <div v-if=" melodyAuthor && !melodyAuthorBirth && melodyAuthorDeath"><b> Viisi autor: </b>{{ song.melodyAuthor.firstName }} {{ song.melodyAuthor.lastName }} ( - {{melodyAuthorDeath}} ) </div>
          <div v-if=" melodyAuthor && !melodyAuthorBirth"><b> Viisi autor: </b>{{ song.melodyAuthor.firstName }} {{ song.melodyAuthor.lastName }}</div>
          <div v-if="song.melodyOrigin"><b>Viisi päritolu: </b>{{ song.melodyOrigin }}</div>
        </div>

        <div v-if="hasTextInfo">
          <h2>Tekst</h2>
          <hr>
          <div id="centeredTextsDiv" v-if=" song.originalText"> {{ song.originalText }}</div>
          <br>
          <div v-if=" textAuthor && textAuthorBirth && textAuthorDeath"><b> Teksti autor: </b>{{ song.textAuthor.firstName }} {{ song.textAuthor.lastName }} ( {{textAuthorBirth}} - {{textAuthorDeath}} ) </div>
          <div v-if=" textAuthor && textAuthorBirth && !textAuthorDeath"><b> Teksti autor: </b>{{ song.textAuthor.firstName }} {{ song.textAuthor.lastName }} ( {{textAuthorBirth}} ) </div>  
          <div v-if=" textAuthor && !textAuthorBirth && textAuthorDeath"><b> Teksti autor: </b>{{ song.textAuthor.firstName }} {{ song.textAuthor.lastName }} ( - {{textAuthorDeath}} ) </div>
          <div v-if=" textAuthor && !textAuthorBirth"><b> Teksti autor: </b>{{ song.textAuthor.firstName }} {{ song.textAuthor.lastName }}</div>   
          <div v-if=" song.textOrigin"><b>Teksti päritolu: </b>{{ song.textOrigin }}</div>
        </div>

        <div v-if="hasTranslationTextInfo">
          <h2>Tõlketekst</h2>
          <hr>
          <div id="centeredTextsDiv" v-if=" song.translationText"> {{ song.translationText }}</div>
          <br>
          <div v-if=" translationAuthor && translationAuthorBirth && translationAuthorDeath"><b> Tõlketeksti autor: </b>{{ song.translationAuthor.firstName }} {{ song.translationAuthor.lastName }} ( {{translationAuthorBirth}} - {{translationAuthorDeath}} ) </div>
          <div v-if=" translationAuthor && translationAuthorBirth && !translationAuthorDeath"><b> Tõlketeksti autor: </b>{{ song.translationAuthor.firstName }} {{ song.translationAuthor.lastName }} ( {{translationAuthorBirth}} ) </div>
          <div v-if=" translationAuthor && !translationAuthorBirth && translationAuthorDeath"><b> Tõlketeksti autor: </b>{{ song.translationAuthor.firstName }} {{ song.translationAuthor.lastName }} ( - {{translationAuthorDeath}} ) </div>
          <div v-if=" translationAuthor && !translationAuthorBirth"><b> Tõlketeksti autor: </b>{{ song.translationAuthor.firstName }} {{ song.translationAuthor.lastName }}</div>
          <div v-if=" song.translationTextOrigin"><b>Tõlketeksti päritolu: </b>{{ song.translationTextOrigin }}</div>
        </div>

        <div v-if="song.rhythm || song.strroof">
          <h2>Stroof ja värsimõõt</h2>
          <hr>
          <div v-if="song.rhythm"><b>Rütm: </b>{{ song.rhythm }}</div>
          <div v-if="song.strroof"><b>Stroof: </b>{{ song.strroof }}</div>
        </div>

        <div v-if="song.humnInfo">
          <h2>Hümnoloogiline info</h2>
          <hr>
          <div id="centeredInfoDiv" v-if=" song.humnInfo"> {{ song.humnInfo }}</div>
        </div>
        
        <div v-if="song.bibleReferences">
          <h2>Pühakirja viited</h2>
          <hr>
          <div id="centeredInfoDiv" v-if="song.bibleReferences"> {{ song.bibleReferences }}</div>
        </div>

        <div v-if="hasRecordings">
          <h2>Salvestised</h2>
          <hr>
          <div v-for="recording in song.recordings" :key="recording.id">
            <vue2-mp3-player v-if="recording.fileLocation" class="thumbnail" :src="processUrl + 'xml/' + recording.fileLocation" :ui="{icons:{play:'fa-play-circle'}, labels:{play: 'Play', pause: 'Pause'}, classes:{btn:'btn btn-default'}}  "></vue2-mp3-player>
            <div v-if="recording.description" class="songInfoDiv"><b>Helifaili kirjeldus: </b>{{ recording.description }}</div>
          </div>
        </div>

        <div v-if="isCopyRightProtected">
          <h2>Autoriõigused</h2>
          <hr>
          <div v-if="song.copyRights.melody"><b>Meloodia: </b> {{ song.copyRights.melody }}</div>  
          <div v-if="song.copyRights.text"><b>Tekst: </b> {{ song.copyRights.text }}</div>  
          <div v-if="song.copyRights.translation"><b>Tõlge: </b> {{ song.copyRights.translation }}</div>
          <div v-if="song.copyRights.publicUse"><b>Avaliku kasutuse õigus: </b> {{ song.copyRights.publicUse }}</div>
          <div v-if="song.copyRights.publicize"><b>Publitseerimine: </b> {{ song.copyRights.publicize }}</div>
          <div v-if="song.copyRights.arrangement"><b>Kompositsioon: </b> {{ song.copyRights.arrangement }}</div>
          <div v-if="song.copyRights.other"><b>Muud autoriõigused: </b> {{ song.copyRights.other }}</div>
        </div>

        <div v-if="hasBookRefs">
          <h2>Lauluraamatute viited</h2>
          <hr>
          <div class="row" v-if="song.bookReferences.LR1721">
            <div class="col">
              <b>LR1721: </b> {{ song.bookReferences.LR1721 }}
              <a v-if="song.bookReferencesPDF.LR1721" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.LR1721" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div class="row" v-if="song.bookReferences.LR1848">
            <div class="col">
              <b>LR1848: </b> {{ song.bookReferences.LR1848 }}
              <a v-if="song.bookReferencesPDF.LR1848" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.LR1848" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div class="row" v-if="song.bookReferences.LR1899">
            <div class="col">
              <b>LR1899: </b> {{ song.bookReferences.LR1899 }}
              <a v-if="song.bookReferencesPDF.LR1899" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.LR1899" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div clas="row" v-if="song.bookReferences.KLPR1991">
            <div class="col">
              <b>KLPR1991: </b> {{ song.bookReferences.KLPR1991 }}
              <a v-if="song.bookReferencesPDF.KLPR1991" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.KLPR1991" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div class="row" v-if="song.bookReferences.Punchel">
            <div class="col">
              <b>Punchel: </b> {{ song.bookReferences.Punchel }}
              <a v-if="song.bookReferencesPDF.Punchel" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.Punchel" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div class="row" v-if="song.bookReferences.Hagen1">
            <div class="col">
              <b>Hagen I: </b> {{ song.bookReferences.Hagen1 }}
              <a v-if="song.bookReferencesPDF.Hagen1" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.Hagen1" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div class="row" v-if="song.bookReferences.Hagen2">
            <div class="col">
              <b>Hagen II: </b> {{ song.bookReferences.Hagen2 }}
              <a v-if="song.bookReferencesPDF.Hagen2" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.Hagen2" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div class="row" v-if="song.bookReferences.Hagen3">
            <div class="col">
              <b>Hagen III: </b> {{ song.bookReferences.Hagen3 }}
              <a v-if="song.bookReferencesPDF.Hagen3" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.Hagen3" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div v-if="song.bookReferences.UKLPR">
            <div class="col">
              <b>UKLPR: </b> {{ song.bookReferences.UKLPR }}
              <a v-if="song.bookReferencesPDF.UKLPR" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.UKLPR" target="_blank">Vaata PDF</a>
            </div>
          </div>
          <div class="row" v-if="song.bookReferences.KreegiRKVfond">
            <div class="col">
              <b>Kreegi RKV fond: </b> {{ song.bookReferences.KreegiRKVfond }}
              <a v-if="song.bookReferencesPDF.KreegiRKVfond" v-bind:href="processUrl + 'pdf/' + song.bookReferencesPDF.KreegiRKVfond" target="_blank">Vaata PDF</a>
            </div>
          </div>
        </div>

        <div v-if="hasUKLPRRefs && isLoggedIn">
          <h2>UKLPR viited</h2>
          <hr>
          <div v-if="song.chapterUKLPR"><b>UKLPR Peatükk: </b> {{ song.chapterUKLPR }}</div>
          <div v-if="song.subchapterUKLPR"><b>UKLPR alapeatükk: </b> {{ song.subchapterUKLPR }}</div>
          <div v-if="song.numberUKLPR"><b>UKLPR number: </b> {{ song.numberUKLPR }}</div>
        </div>

        <div v-if="isLoggedIn && song.comments">
          <hr>
          <div><b>Märkmed administraatoritele: </b>{{ song.comments }}</div>
        </div>

        <div v-if="song.pdfs && song.pdfs.length > 0">
          <h2>Failid</h2>
          <hr>
          <div v-for="pdf in song.pdfs" :key="pdf.id" class="row">
            <b-button class="col-2" variant="info" v-bind:href="processUrl + 'pdf/' + pdf.fileLocation">Vaata PDF</b-button>
            <div class="col-4" v-if="pdf.description"><b>Faili kirjeldus: </b>{{ pdf.description }}</div>
            <div class="col-6"></div>
          </div>
        </div>

        <div v-if="song.xmlLocation">
          <hr>
          <b-button variant="info" v-bind:href="processUrl + 'xml/' + song.xmlLocation">Lae alla musicxml formaadis</b-button>
        </div>

        <div v-if="isLoggedIn">
          <hr>
          <b-button variant="secondary" v-bind:href="'../editSong/'+ song._id">Muuda laulu</b-button>
        </div>
    </div>
    </div>
</template>

<style>

.infoContainer{
  background-color: #f8f9fa;
  border: 2px;
  margin-top: 20px;
}

div.infoContainer div{
    margin: 5px;
}

#centeredInfoDiv{
    text-align: center;
}

#centeredTextsDiv{
    text-align: center;
    white-space: pre-wrap; 
    word-wrap: break-word;
    font-family: inherit;
}

h2{
    text-align: center;
    margin-top: 10px;
}

.col{
  display: inline-block;
}

</style>


<script>
import Api from '@/Api'
import Vue2Mp3Player from 'vue2-mp3-player';

export default {
    components: {
      'vue2-mp3-player': Vue2Mp3Player
    },

    data () {
    return {
      processUrl: process.env.BASE_URL + "/",
      isLoggedIn: false,
      isCopyRightProtected: false,
      song: {},
      searchId: this.$route.params.songId,

      hasTexts: false,
      hasRecordings: false,
      hasBookRefs: false,
      hasUKLPRRefs: false,
      hasMelodyInfo: false,
      hasTextInfo: false,
      hasTranslationTextInfo: false,

      originalTitle: null,
      estNorthTitle: null,
      estSouthTitle: null,
      textAuthor: null,
      textAuthorBirth: null,
      textAuthorDeath: null,
      melodyAuthor: null,
      melodyAuthorBirth: null,
      melodyAuthorDeath: null,
      translationAuthor: null,
      translationAuthorBirth: null,
      translationAuthorDeath: null,
    }
  },

  methods: {
    playMp3: function() {
      const audioFile = new Audio(this.processUrl + this.song.mp3Location)
      audioFile.play()
    },
    validateFields: function(){
        this.originalTitle = this.song.title.original
        this.estNorthTitle = this.song.title.estNorth
        this.estSouthTitle = this.song.title.estSouth

        if (this.song.textAuthor.firstName || this.song.textAuthor.lastName || this.song.textAuthor.birthDate || this.song.textAuthor.deathDate) {
            this.hasAuthors = true
            this.textAuthor = this.song.textAuthor
            this.textAuthorBirth = this.song.textAuthor.birthDate
            this.textAuthorDeath = this.song.textAuthor.deathDate
        }

        if (this.song.melodyAuthor.firstName || this.song.melodyAuthor.lastName || this.song.melodyAuthor.birthDate || this.song.melodyAuthor.deathDate) {
            this.hasAuthors = true
            this.melodyAuthor = this.song.melodyAuthor
            this.melodyAuthorBirth = this.song.melodyAuthor.birthDate
            this.melodyAuthorDeath = this.song.melodyAuthor.deathDate
        }

        if (this.song.translationAuthor.firstName || this.song.translationAuthor.lastName || this.song.translationAuthor.birthDate || this.song.translationAuthor.deathDate) {
            this.hasAuthors = true
            this.translationAuthor = this.song.translationAuthor
            this.translationAuthorBirth = this.song.translationAuthor.birthDate
            this.translationAuthorDeath = this.song.translationAuthor.deathDate
        }
        if (this.song.recordings[0] !== undefined) {
              this.hasRecordings = true
              this.mp3Location = this.song.recordings[0].fileLocation
              this.mp3Description = this.song.recordings[0].description
        }

        if (!this.song.bookReferencesPDF) {
          this.song.bookReferencesPDF = {}
        }
        
        this.isCopyRightProtected = this.song.copyRights
        this.hasTextInfo = this.song.textAuthor.firstName || this.song.textAuthor.lastName || this.song.originalText || this.song.textOrigin
        this.hasTranslationTextInfo = this.song.translationAuthor.firstName || this.song.translationAuthor.lastName || this.song.translationText || this.song.translationTextOrigin
        this.hasMelodyInfo = this.song.melodyAuthor.firstName || this.song.melodyAuthor.lastName || this.song.melodyInfo || this.song.melodyOrigin
        this.hasBookRefs = this.song.bookReferences.LR1721 || this.song.bookReferences.LR1848 || this.song.bookReferences.LR1899 
                              || this.song.bookReferences.KLPR1991 || this.song.bookReferences.Punchel || this.song.bookReferences.Hagen1
                              || this.song.bookReferences.Hagen2 || this.song.bookReferences.Hagen3 || this.song.bookReferences.UKLPR || this.song.bookReferences.KreegiRKVfond
        this.hasUKLPRRefs = this.song.chapterUKLPR || this.song.subchapterUKLPR || this.song.numberUKLPR
    }
},

created(){
    if (localStorage.getItem("token")) this.isLoggedIn = true
    Api.getSong(this.searchId)
        .then(res => {
          console.log(res)
          this.song = res.data.song
          this.validateFields()
        })
        .catch(error => console.log(error))
}

}

</script>