<template>
    <div class="infoContainer">
        <h2>Laulu muutmine ja kustutamine</h2>
        <form v-if="songloaded" class="text-center border border-light p-5" id="add-song">
        <h3>Pealkiri</h3>
              <hr>
              <div class="form-row mb-4">
                <label for="title.estNorth" class="addSongLabel col-3">Põhja-Eesti pealkiri</label>
                <input
                  type="text"
                  id="title.estNorth"
                  class="form-control col-9"
                  v-model="songdata.title.estNorth"
                  data-cy="northEstTitle"
                  v-on:change="validateChanges(songdata.title.estNorth, oldSongData.title.estNorth, 'Põhja-Eesti tiitel')"
                />
              </div>
              <div class="form-row mb-4">
                <label class="addSongLabel col-3">Lõuna-Eesti pealkiri</label>
                <input
                  type="text"
                  class="form-control col-9"
                  v-model="songdata.title.estSouth"
                  data-cy="southEstTitle"
                  v-on:change="validateChanges(songdata.title.estSouth, oldSongData.title.estSouth, 'Lõuna-Eesti tiitel')"
                />
              </div>
              <div class="form-row mb-4">
                <label class="addSongLabel col-3">Originaal pealkiri</label>
                <input
                  type="text"
                  class="form-control col-9"
                  v-model="songdata.title.original"
                  data-cy="originalTitle"
                  v-on:change="validateChanges(songdata.title.original, oldSongData.title.original, 'Originaal tiitel')"
                />
              </div>
              <p id="errorMessage" class="form-row mb-4" v-if="errorMsg" style="color: red">{{ errorMsg }}</p>

              <br>
              <h3>Viisiautor ja viis</h3>
              <hr>
              <div class="form-row mb-4">
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Eesnimi</label>
                    <input
                      type="text"
                      class="form-control col-8"
                      v-model="songdata.melodyAuthor.firstName"
                      v-on:change="validateChanges(songdata.melodyAuthor.firstName, oldSongData.melodyAuthor.firstName, 'Viisi autori eesnimi')"
                    />
                  </div>
                </div>
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Perenimi</label>
                    <input
                      type="text"
                      class="form-control col-8"
                      v-model="songdata.melodyAuthor.lastName"
                      v-on:change="validateChanges(songdata.melodyAuthor.lastName, oldSongData.melodyAuthor.lastName, 'Viisi autori perenimi')"
                    />
                  </div>
                </div>
              </div>

              <div v-if="oldSongData.melodyAuthor.firstName || oldSongData.melodyAuthor.lastName" class="form-group form-check">
                <input type="checkbox" class="form-check-input" v-model="melodyAuthorUpdate" id="melodyAuthorBox">
                <label class="form-check-label" for="melodyAuthorBox">Uuenda autori <b> {{ oldSongData.melodyAuthor.firstName }} {{ oldSongData.melodyAuthor.lastName }} </b> andmed kõikjal andmebaasis</label>
              </div>
              
              <div class="form-row mb-4">
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Sündinud</label>
                    <input
                      class="col-8"
                      type="text"
                      v-bind:class="getClass(songdata.melodyAuthor.birthDate)"
                      placeholder="dd-mm-yyyy"
                      v-model="songdata.melodyAuthor.birthDate"
                      data-cy="melodyAuthorBirth"
                      v-on:change="validateChanges(songdata.melodyAuthor.birthDate, oldSongData.melodyAuthor.birthDate, 'Viisi autori sünnikuupäev')"
                    />
                  </div>
                </div>
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Surnud</label>
                    <input
                      class="col-8"
                      type="text"
                      v-bind:class="getClass(songdata.melodyAuthor.deathDate)"
                      placeholder="dd-mm-yyyy"
                      v-model="songdata.melodyAuthor.deathDate"
                      v-on:change="validateChanges(songdata.melodyAuthor.deathDate, oldSongData.melodyAuthor.deathDate, 'Viisi autori surmakuupäev')"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row mb-4">
                <label class="addSongLabel col-3">Viisi päritolu</label>
                <input
                  type="text"
                  class="form-control col-9"
                  v-model="songdata.melodyOrigin"
                  v-on:change="validateChanges(songdata.melodyOrigin, oldSongData.melodyOrigin, 'Viisi päritolu')"
                />
              </div>
              <div class="form-row mb-4">
                <label class="addSongLabel col-3">Meloodiline informatsioon</label>
                <input
                  type="textarea"
                  class="form-control col-9"
                  v-model="songdata.melodyInfo"
                  v-on:change="validateChanges(songdata.melodyInfo, oldSongData.melodyInfo, 'Meloodiline informatsioon')"
                />
              </div>

              <br>
              <h3>Originaalteksti autor ja tekst</h3>
              <hr>
              <div class="form-row mb-4">
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Eesnimi</label>
                    <input
                      type="text"
                      class="form-control col-8"
                      v-model="songdata.textAuthor.firstName"
                      v-on:change="validateChanges(songdata.textAuthor.firstName, oldSongData.textAuthor.firstName, 'Originaalteksti autori eesnimi')"
                    />
                  </div>
                </div>
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Perenimi</label>
                    <input
                      type="text"
                      class="form-control col-8"
                      v-model="songdata.textAuthor.lastName"
                      v-on:change="validateChanges(songdata.textAuthor.lastName, oldSongData.textAuthor.lastName, 'Originaalteksti autori perenimi')"
                    />
                  </div>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Sündinud</label>
                    <input
                      class="col-8"
                      type="text"
                      v-bind:class="getClass(songdata.textAuthor.birthDate)"
                      placeholder="dd-mm-yyyy"
                      v-model="songdata.textAuthor.birthDate"
                      v-on:change="validateChanges(songdata.textAuthor.birthDate, oldSongData.textAuthor.birthDate, 'Teksti autori sünnikuupäev')"
                    />
                  </div>
                </div>
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Surnud</label>
                    <input
                      class="col-8"
                      type="text"
                      v-bind:class="getClass(songdata.textAuthor.deathDate)"
                      placeholder="dd-mm-yyyy"
                      v-model="songdata.textAuthor.deathDate"
                      v-on:change="validateChanges(songdata.textAuthor.deathDate, oldSongData.textAuthor.deathDate, 'Teksti autori surmakuupäev')"
                    />
                  </div>
                </div>
              </div>

              <div v-if="oldSongData.textAuthor.firstName || oldSongData.textAuthor.lastName" class="form-group form-check">
                <input type="checkbox" class="form-check-input" v-model="textAuthorUpdate" id="textAuthorBox">
                <label class="form-check-label" for="textAuthorBox">Uuenda autori <b> {{ oldSongData.textAuthor.firstName }} {{ oldSongData.textAuthor.lastName }} </b> andmed kõikjal andmebaasis</label>
              </div>

              <label class="addSongLabel">Originaaltekst</label>
              <div class="form-row mb-4">
                <div class="col-3"></div>
                <textarea
                  rows="8"
                  class="form-control col-6"
                  v-model="songdata.originalText"
                  v-on:change="validateChanges(songdata.originalText, oldSongData.originalText, 'Originaal tekst')"
                ></textarea>
                <div class="col-3"></div>
              </div>
              <div class="form-row mb-4">
                <div class="col-3"></div>
                <label class="addSongLabel col-2">Teksti päritolu</label>
                <input
                  type="text"
                  class="form-control col-4"
                  v-model="songdata.textOrigin"
                  v-on:change="validateChanges(songdata.textOrigin, oldSongData.textOrigin, 'Teksti päritolu')"
                />
                <div class="col-3"></div>
              </div>

              <div class="form-row mb-4">
                <div class="col-3"></div>
                <label class="addSongLabel col-2">Stroofivalem</label>
                <input
                  type="text"
                  class="form-control col-4"
                  placeholder="aa.b.aa.b"
                  v-model="songdata.strroof"
                  v-on:change="validateChanges(songdata.stroof, oldSongData.stroof, 'Stroofivalem')"
                />
                <div class="col-3"></div>
              </div>

              <div class="form-row mb-4">
                <div class="col-3"></div>
                <label class="addSongLabel col-2">Värsimõõt</label>
                <select class="form-control col-4" v-model="songdata.rhythm" v-on:change="validateChanges(songdata.rhythm, oldSongData.rhythm, 'Värsimõõt')">
                  <option value disabled selected>Vali värsimõõt</option>
                  <option value="jamb">Jamb</option>
                  <option value="trohheus">Trohheus</option>
                  <option value="daktül">Daktül</option>
                  <option value="sega">Sega</option>
                  <option value="proosa">Proosa</option>
                  <option value="">Tühista valik</option>
                </select>
                <div class="col-3"></div>
              </div>

              <br>
              <h3>Tõlketeksti autor ja tekst</h3>
              <hr>
              <div class="form-row mb-4">
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Eesnimi</label>
                    <input
                      type="text"
                      class="form-control col-8"
                      v-model="songdata.translationAuthor.firstName"
                      v-on:change="validateChanges(songdata.translationAuthor.firstName, oldSongData.translationAuthor.firstName, 'Tõlketeksti autori eesnimi')"
                    />
                  </div>
                </div>
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Perenimi</label>
                    <input
                      type="text"
                      class="form-control col-8"
                      v-model="songdata.translationAuthor.lastName"
                      v-on:change="validateChanges(songdata.translationAuthor.lastName, oldSongData.translationAuthor.lastName, 'Tõketeksti autori perenimi')"
                    />
                  </div>
                </div>
              </div>

              <div v-if="oldSongData.translationAuthor.firstName || oldSongData.translationAuthor.lastName" class="form-group form-check">
                <input type="checkbox" class="form-check-input" v-model="translationAuthorUpdate" id="translationAuthorBox">
                <label class="form-check-label" for="translationAuthorBox">Uuenda autori <b> {{ oldSongData.translationAuthor.firstName }} {{ oldSongData.translationAuthor.lastName }} </b> andmed kõikjal andmebaasis</label>
              </div>

              <div class="form-row mb-4">
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Sündinud</label>
                    <input
                      class="col-8"
                      type="text"
                      v-bind:class="getClass(songdata.translationAuthor.birthDate)"
                      placeholder="dd-mm-yyyy"
                      v-model="songdata.translationAuthor.birthDate"
                      v-on:change="validateChanges(songdata.translationAuthor.birthDate, oldSongData.translationAuthor.birthDate, 'Tõlketeksti autori sünnikuupäev')"
                    />
                  </div>
                </div>
                <div class="col form-group">
                  <div class="row">
                    <label class="addSongLabel col-4">Surnud</label>
                    <input
                      class="col-8"
                      type="text"
                      v-bind:class="getClass(songdata.translationAuthor.deathDate)"
                      placeholder="dd-mm-yyyy"
                      v-model="songdata.translationAuthor.deathDate"
                      v-on:change="validateChanges(songdata.translationAuthor.deathDate, oldSongData.translationAuthor.deathDate, 'Tõlketeksti autori surmakuupäev')"
                    />
                  </div>
                </div>
              </div>

              <label class="addSongLabel">Tõlketekst</label>
              <div class="form-row mb-4">
                <div class="col-3"></div>
                <textarea
                  rows="8"
                  class="form-control col-6"
                  v-model="songdata.translationText"
                  v-on:change="validateChanges(songdata.translationText, oldSongData.translationText, 'Tõlketekst')"
                ></textarea>
                <div class="col-3"></div>
              </div>
              <div class="form-row mb-4">
                <div class="col-3"></div>
                <label class="addSongLabel col-2">Tõlketeksti päritolu</label>
                <input
                  type="text"
                  class="form-control col-4"
                  v-model="songdata.translationTextOrigin"
                  v-on:change="validateChanges(songdata.translationTextOrigin, oldSongData.translationTextOrigin, 'Tõlketeksti päritolu')"
                />
                <div class="col-3"></div>
              </div>

              <br>
              <h3>Hümnoloogiline info ja pühakirja viited</h3>
              <hr>
              <div class="form-row mb-4">
                <div class="col">
                  <label class="addSongLabel">Hümnoloogiline info</label>
                  <textarea
                    rows="4"
                    class="form-control"
                    v-model="songdata.humnInfo"
                    v-on:change="validateChanges(songdata.humnInfo, oldSongData.humnInfo, 'Hümnoloogiline info')"
                  ></textarea>
                </div>
                <div class="col">
                  <label class="addSongLabel">Pühakirja viited</label>
                  <textarea
                    rows="4"
                    class="form-control"
                    v-model="songdata.bibleReferences"
                    v-on:change="validateChanges(songdata.bibleReferences, oldSongData.bibleReferences, 'Pühakirja viited')"
                  ></textarea>
                </div>
              </div>

              <br>
              <h3>Failide lisamine</h3>
              <hr>
              <div class="row" v-for="(item, index) in songdata.pdfs" :key="item.id">
                <label class="addSongLabel">PDF</label>
                <div class="col-4">
                  <b-form-file v-if="!songdata.pdfs[index].fileLocation" v-model="songdata.pdfs[index].fileLocation" v-bind:key="index" accept=".pdf" placeholder="Vali PDF"></b-form-file>
                  <b-form-file v-if="songdata.pdfs[index].fileLocation" v-model="songdata.pdfs[index].fileLocation" v-bind:key="index" accept=".pdf" :placeholder="songdata.pdfs[index].fileLocation.name"></b-form-file>
                </div>
                <hr>
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="faili kirjeldus"
                    v-model="songdata.pdfs[index].description"
                    :key="index"
                  />
                </div>
                <div class="col-1">
                  <b-button variant="danger" @click="deleteFromPdfs(index)" :key="index">X</b-button>
                </div>
              </div>
              <br>
              <b-button variant="secondary" @click="addToPdfs">Lisa PDF väli</b-button>

              <hr>
              <div class="row" v-for="(item, index) in songdata.recordings" :key="item.id">
                <label class="addSongLabel">MP3</label>
                <div class="col-4">
                  <b-form-file v-if="!songdata.recordings[index].fileLocation" v-model="songdata.recordings[index].fileLocation" v-bind:key="index" accept=".mp3" placeholder="Vali laulu MP3"></b-form-file>
                  <b-form-file v-if="songdata.recordings[index].fileLocation" v-model="songdata.recordings[index].fileLocation" v-bind:key="index" accept=".mp3" :placeholder="songdata.recordings[index].fileLocation.name"></b-form-file>
                </div>
                <hr>
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Helifaili kirjeldus"
                    v-model="songdata.recordings[index].description"
                    :key="index"
                  />
                </div>
                <div class="col-1">
                  <b-button variant="danger" @click="deleteFromRecordings(index)" :key="index">X</b-button>
                </div>
              </div>
              <br>
              <b-button variant="secondary" @click="addToRecordings">Lisa MP3 väli</b-button>

              <hr>
              <div class="row">
                <label class="addSongLabel">XML</label>
                <b-form-file
                  class="col-4"
                  v-model="xml"
                  accept=".musicxml, .xml"
                  placeholder="Vali musicXML"
                ></b-form-file>
              </div>

            <hr>
            <h3 v-on:click="isHiddenRights = !isHiddenRights">Autoriõigused</h3>
            <label v-if="isHiddenRights">kliki, et lisada</label>
            <div v-if="!isHiddenRights">
              <label>Kirjuta väljale nimi, kui autoriõigused rakenduvad</label>
              <div class="form-row mb-4">
                  <input type="text" class="form-control" placeholder="Meloodia õiguste omanik" v-model="songdata.copyRights.melody" v-on:change="validateChanges(songdata.copyRights.melody, oldSongData.copyRights.melody, 'Meloodia õiguste omanik')">
              </div>
              <div class="form-row mb-4">
                  <input type="text" class="form-control" placeholder="Teksti õiguste omanik" v-model="songdata.copyRights.text" v-on:change="validateChanges(songdata.copyRights.text, oldSongData.copyRights.text, 'Teksti õiguste omanik')">
              </div>
              <div class="form-row mb-4">
                  <input type="text" class="form-control" placeholder="Tõlketeksti õiguste omanik" v-model="songdata.copyRights.translation" v-on:change="validateChanges(songdata.copyRights.translation, oldSongData.copyRights.translation, 'Tõlketeksti õiguste omanik')">
              </div>
              <div class="form-row mb-4">
                  <input type="text" class="form-control" placeholder="Avaliku kasutamise õiguste omanik" v-model="songdata.copyRights.publicUse" v-on:change="validateChanges(songdata.copyRights.publicUse, oldSongData.copyRights.publicUse, 'Avaliku kasutamise õiguste omanik')">
              </div>
              <div class="form-row mb-4">
                  <input type="text" class="form-control" placeholder="Avaldamise õiguste omanik" v-model="songdata.copyRights.publicize" v-on:change="validateChanges(songdata.copyRights.publicize, oldSongData.copyRights.publicize, 'Avaldamise õiguste omanik')">
              </div>
              <div class="form-row mb-4">
                  <input type="text" class="form-control" placeholder="Seade õiguste omanik" v-model="songdata.copyRights.arrangement" v-on:change="validateChanges(songdata.copyRights.arrangement, oldSongData.copyRights.arrangement, 'Seade õiguste omanik')">
              </div>
              <div class="form-row mb-4">
                  <input type="text" class="form-control" placeholder="Mõni muu märge autoriõiguste kohta" v-model="songdata.copyRights.other" v-on:change="validateChanges(songdata.copyRights.other, oldSongData.copyRights.other, 'Mõni muu märge autoriõiguste kohta')">
              </div>
            </div>

            <hr>
            <h3 v-on:click="isHiddenRefs = !isHiddenRefs">Lauluraamatute viited</h3>
            <label v-if="isHiddenRefs">kliki, et lisada</label>
            <div v-if="!isHiddenRefs">
              <label>Kirjuta väljale viite leheküljenumber, kui esineb lauluraamatus, vastasel korral jätta tühjaks</label>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="LR1721" v-model="songdata.bookReferences.LR1721" v-on:change="validateChanges(songdata.bookReferences.LR1721, oldSongData.bookReferences.LR1721, 'LR1721')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.LR1721" v-model="songdata.bookReferencesPDF.LR1721" accept=".pdf" :placeholder="songdata.bookReferencesPDF.LR1721"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.LR1721" v-model="songdata.bookReferencesPDF.LR1721" accept=".pdf" placeholder="Vali LR1721 PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="LR1848" v-model="songdata.bookReferences.LR1848" v-on:change="validateChanges(songdata.bookReferences.LR1848, oldSongData.bookReferences.LR1848, 'LR1848')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.LR1848" v-model="songdata.bookReferencesPDF.LR1848" accept=".pdf" :placeholder="songdata.bookReferencesPDF.LR1848"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.LR1848" v-model="songdata.bookReferencesPDF.LR1848" accept=".pdf" placeholder="Vali LR1848 PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="LR1899" v-model="songdata.bookReferences.LR1899" v-on:change="validateChanges(songdata.bookReferences.LR1899, oldSongData.bookReferences.LR1899, 'LR1899')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.LR1899" v-model="songdata.bookReferencesPDF.LR1899" accept=".pdf" :placeholder="songdata.bookReferencesPDF.LR1899"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.LR1899" v-model="songdata.bookReferencesPDF.LR1899" accept=".pdf" placeholder="Vali LR1899 PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="KLPR1991" v-model="songdata.bookReferences.KLPR1991" v-on:change="validateChanges(songdata.bookReferences.KLPR1991, oldSongData.bookReferences.KLPR1991, 'KLPR1991')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.KLPR1991" v-model="songdata.bookReferencesPDF.KLPR1991" accept=".pdf" :placeholder="songdata.bookReferencesPDF.KLPR1991"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.KLPR1991" v-model="songdata.bookReferencesPDF.KLPR1991" accept=".pdf" placeholder="Vali KLPR1991 PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Punchel" v-model="songdata.bookReferences.Punchel" v-on:change="validateChanges(songdata.bookReferences.Punchel, oldSongData.bookReferences.Punchel, 'Punchel')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.Punchel" v-model="songdata.bookReferencesPDF.Punchel" accept=".pdf" :key="songdata.bookReferencesPDF.Punchel"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.Punchel" v-model="songdata.bookReferencesPDF.Punchel" accept=".pdf" placeholder="Vali Punchel PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Hagen I" v-model="songdata.bookReferences.Hagen1" v-on:change="validateChanges(songdata.bookReferences.Hagen1, oldSongData.bookReferences.Hagen1, 'Hagen1')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.Hagen1" v-model="songdata.bookReferencesPDF.Hagen1" accept=".pdf" :placeholder="songdata.bookReferencesPDF.Hagen1"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.Hagen1" v-model="songdata.bookReferencesPDF.Hagen1" accept=".pdf" placeholder="Vali Hagen I PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Hagen II" v-model="songdata.bookReferences.Hagen2" v-on:change="validateChanges(songdata.bookReferences.Hagen2, oldSongData.bookReferences.Hagen2, 'Hagen2')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.Hagen2" v-model="songdata.bookReferencesPDF.Hagen2" accept=".pdf" :placeholder="songdata.bookReferencesPDF.Hagen2"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.Hagen2" v-model="songdata.bookReferencesPDF.Hagen2" accept=".pdf" placeholder="Vali Hagen II PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Hagen III" v-model="songdata.bookReferences.Hagen3" v-on:change="validateChanges(songdata.bookReferences.Hagen3, oldSongData.bookReferences.Hagen3, 'Hagen3')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.Hagen3" v-model="songdata.bookReferencesPDF.Hagen3" accept=".pdf" :placeholder="songdata.bookReferencesPDF.Hagen3"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.Hagen3" v-model="songdata.bookReferencesPDF.Hagen3" accept=".pdf" placeholder="Vali Hagen III PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="UKLPR" v-model="songdata.bookReferences.UKLPR" v-on:change="validateChanges(songdata.bookReferences.UKLPR, oldSongData.bookReferences.UKLPR, 'UKLPR')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.UKLPR" v-model="songdata.bookReferencesPDF.UKLPR" accept=".pdf" :placeholder="songdata.bookReferencesPDF.UKLPR"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.UKLPR" v-model="songdata.bookReferencesPDF.UKLPR" accept=".pdf" placeholder="Vali UKLPR PDF viide"></b-form-file>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Kreegi RKV fond" v-model="songdata.bookReferences.KreegiRKVfond" v-on:change="validateChanges(songdata.bookReferences.KreegiRKVfond, oldSongData.bookReferences.KreegiRKVfond, 'Kreegi RKV fond')">
                </div>
                <div class="col">
                  <b-form-file v-if="songdata.bookReferencesPDF.KreegiRKVfond" v-model="songdata.bookReferencesPDF.KreegiRKVfond" accept=".pdf" :placeholder="songdata.bookReferencesPDF.KreegiRKVfond"></b-form-file>
                  <b-form-file v-if="!songdata.bookReferencesPDF.KreegiRKVfond" v-model="songdata.bookReferencesPDF.KreegiRKVfond" accept=".pdf" placeholder="Vali KreegiRKVfond PDF viide"></b-form-file>
                </div>
              </div>
            </div>

            <hr>
            <h3 v-on:click="isHiddenUKLPR = !isHiddenUKLPR">UKLPR viited</h3>
            <label v-if="isHiddenUKLPR">kliki, et lisada</label>
            <div v-if="!isHiddenUKLPR">
              <div class="form-row mb-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="UKLPRi peatükk"
                  v-model="songdata.chapterUKLPR"
                  v-on:change="validateChanges(songdata.chapterUKLPR, oldSongData.chapterUKLPR, 'UKLPRi peatükk')"
                />
              </div>
              <div class="form-row mb-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="UKLPRi alapeatükk"
                  v-model="songdata.subchapterUKLPR"
                  v-on:change="validateChanges(songdata.subchapterUKLPR, oldSongData.subchapterUKLPR, 'UKLPRi alapeatükk')"
                />
              </div>
              <div class="form-row mb-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="UKLPRi number"
                  v-model="songdata.numberUKLPR"
                  v-on:change="validateChanges(songdata.numberUKLPR, oldSongData.numberUKLPR, 'UKLPRi number')"
                />
              </div>
            </div>

            <hr>
            <h3>Märkmed teistele administraatoritele</h3>
            <div class="form-row mb-4">
              <textarea
                rows="4"
                class="form-control"
                placeholder="Märkmed"
                v-model="songdata.comments"
              ></textarea>
            </div>

            <hr>
            <b-button variant="primary" @click="editSong">Muuda laulu</b-button>
            <hr>
            <b-button variant="secondary" @click="toDetailView">Tühista muudatused</b-button>
            <hr>
            <b-button variant="danger" @click="deleteSong">Kustuta laul</b-button>
        </form>
    </div>
</template>

<style>
.infoContainer{
  background-color: #f8f9fa;
  border: 2px;
  margin-top: 20px;
}
</style>

<script>
import Api from '@/Api'
import Change from '../Change.js'

export default {
    data () {
        return {
            searchId: this.$route.params.songId,
            songloaded: false,
            isHiddenRights: true,
            isHiddenRefs: true,
            isHiddenUKLPR: true,
            oldSongData: {},
            userName: '',
            titles: '',
            xml: null,
            xmlName: '',
            melodyAuthorUpdate: false,
            textAuthorUpdate: false,
            translationAuthorUpdate: false,
            songdata: {},
            changes: [],
            oldRecordingsDeleted: 0,
            oldPdfsDeleted: 0
        }
    },

    methods: {
        addToRecordings() {
          this.songdata.recordings.push({ fileLocation: null, description: '' })
        },
        deleteFromRecordings(index) {
          this.songdata.recordings.splice(index, 1)
        },
        deleteFromOldRecordings(index) {
          if (confirm ("Kas soovite selle faili andmebaasist kustutada?")) {
            if (this.songdata.recordings[index].fileLocation) {
            const formData = new FormData()
            formData.append('oldpath', this.songdata.recordings[index].fileLocation)
            Api.deleteFile(formData)
              .then(result => {
                this.$data.oldRecordingsDeleted += 1
                this.songdata.recordings.splice(index, 1)
                console.log(result)
              })
              .catch(err => {
                console.log(err)
              })
            } else {
              this.songdata.recordings.splice(index, 1)
            }
          }
        },
        deleteFromOldPdfs(index) {
          if (confirm ("Kas soovite selle faili andmebaasist kustutada?")) {
            if (this.songdata.pdfs[index].fileLocation) {
            const formData = new FormData()
            formData.append('oldpath', this.songdata.pdfs[index].fileLocation)
            Api.deleteFile(formData)
              .then(result => {
                this.$data.oldPdfsDeleted += 1
                this.songdata.pdfs.splice(index, 1)
                console.log(result)
              })
              .catch(err => {
                console.log(err)
              })
            } else {
              this.songdata.pdfs.splice(index, 1)
            }
          }
        },
        addToPdfs() {
          this.songdata.pdfs.push({ fileLocation: null, description: '' })
        },
        deleteFromPdfs(index) {
          this.songdata.pdfs.splice(index, 1)
        },
        async editSong () {

          if (this.formValidation()) {

            let formData

            if (this.$data.melodyAuthorUpdate) {
                formData = new FormData()
                formData.append('author', 'melodyAuthor')
                formData.append('oldFirstName', this.$data.oldSongData.melodyAuthor.firstName)
                formData.append('oldLastName', this.$data.oldSongData.melodyAuthor.lastName)
                formData.append('firstName', this.$data.songdata.melodyAuthor.firstName)
                formData.append('lastName', this.$data.songdata.melodyAuthor.lastName)
                formData.append('birthDate', this.$data.songdata.melodyAuthor.birthDate)
                formData.append('deathDate', this.$data.songdata.melodyAuthor.deathDate)
                await Api.updateAuthor(formData)
            }

            if (this.$data.textAuthorUpdate) {
                formData = new FormData()
                formData.append('author', 'textAuthor')
                formData.append('oldFirstName', this.$data.oldSongData.textAuthor.firstName)
                formData.append('oldLastName', this.$data.oldSongData.textAuthor.lastName)
                formData.append('firstName', this.$data.songdata.textAuthor.firstName)
                formData.append('lastName', this.$data.songdata.textAuthor.lastName)
                formData.append('birthDate', this.$data.songdata.textAuthor.birthDate)
                formData.append('deathDate', this.$data.songdata.textAuthor.deathDate)
                await Api.updateAuthor(formData)
            }

            if (this.$data.translationAuthorUpdate) {
                formData = new FormData()
                formData.append('author', 'translationAuthor')
                formData.append('oldFirstName', this.$data.oldSongData.translationAuthor.firstName)
                formData.append('oldLastName', this.$data.oldSongData.translationAuthor.lastName)
                formData.append('firstName', this.$data.songdata.translationAuthor.firstName)
                formData.append('lastName', this.$data.songdata.translationAuthor.lastName)
                formData.append('birthDate', this.$data.songdata.translationAuthor.birthDate)
                formData.append('deathDate', this.$data.songdata.translationAuthor.deathDate)
                await Api.updateAuthor(formData)
            }

            // handle MP3 uploads
            for (let i = this.$data.oldSongData.recordings.length - this.$data.oldRecordingsDeleted; i < this.$data.songdata.recordings.length; i++) {
                formData = new FormData();
                formData.append("file", this.$data.songdata.recordings[i].fileLocation);
                const response = await Api.uploadFile(formData);
                this.$data.songdata.recordings[i].fileLocation = response.data.filePath;
            }

            // handle PDF uploads
            for (let i = this.$data.oldSongData.pdfs.length - this.$data.oldPdfsDeleted; i < this.$data.songdata.pdfs.length; i++) {
                formData = new FormData();
                formData.append("file", this.$data.songdata.pdfs[i].fileLocation);
                const response = await Api.uploadFile(formData);
                this.$data.songdata.pdfs[i].fileLocation = response.data.filePath;
            }

            for (let refPDF in this.$data.songdata.bookReferencesPDF) {
              if (this.$data.songdata.bookReferencesPDF[refPDF] && !this.$data.songdata.bookReferencesPDF[refPDF].substring) {
                formData = new FormData();
                if (this.$data.oldSongData.bookReferencesPDF[refPDF]) {
                  formData.append('oldpath', this.$data.oldSongData.bookReferencesPDF[refPDF])
                }
                formData.append("file", this.$data.songdata.bookReferencesPDF[refPDF]);
                const pdfResponse = await Api.updateFile(formData);
                this.$data.songdata.bookReferencesPDF[refPDF] = pdfResponse.data.filePath;
              }
            }

            if (this.$data.xml) {
                formData = new FormData()
                formData.append('file', this.$data.xml)
                formData.append('oldpath', this.$data.songdata.xmlLocation)
                const xmlResponse = await Api.updateFile(formData)
                this.$data.songdata.xmlLocation = xmlResponse.data.filePath
            }

            Api.editSong(this.$data.songdata)
                .then(result => {
                    this.$router.push('/detailView/' + result.data.song._id.toString())
                    this.sendChanges();
                    console.log('Song updated!')
                })
                .catch(err => {
                    console.log(err)
                })
          } else {
            window.scrollTo(0,0);
          }
        },
        getClass(date){
          if (!date) {
            return "form-control"
          }
          else if (this.dateValidation(date)) {
            return "form-control is-valid"
          } else {
            return "form-control is-invalid"
          }
        },
        dateValidation(date) {
          if (!date) return true
          if (date == '') return true

          const splittedDate = date.split("-")

          if (splittedDate.length == 1) {
            if (splittedDate[0].match(/^-{0,1}\d+$/)) {
              return true
            }
          }
    
          try {
            if (splittedDate.length != 3 || splittedDate[0] > 31 || splittedDate[1] > 12 || !splittedDate[2].match(/^-{0,1}\d+$/) || !splittedDate[1].match(/^-{0,1}\d+$/) || !splittedDate[0].match(/^-{0,1}\d+$/)) return false
          } catch (err) {
            return false
          }
          
          return true
        },
        formValidation() {
          if (this.songdata.title.estNorth == '' && this.songdata.title.estSouth == '' && this.songdata.title.original == '') {
            this.errorMsg = 'Vähemalt ühe pealkirja lisamine kohustuslik!'
            return false
          }
          if (!this.dateValidation(this.songdata.melodyAuthor.birthDate)
              || !this.dateValidation(this.songdata.melodyAuthor.deathDate)
              || !this.dateValidation(this.songdata.textAuthor.birthDate)
              || !this.dateValidation(this.songdata.textAuthor.deathDate)
              || !this.dateValidation(this.songdata.translationAuthor.birthDate)
              || !this.dateValidation(this.songdata.translationAuthor.deathDate)) {

            this.errorMsg = 'Esinevad vigased kuupäevad!'
            return false
          }
          return true
        },
        toDetailView () {
            if (confirm("Tühista muudatused ja mine laulu lehele?")) {
              this.$router.push('/detailView/' + this.songdata._id.toString())
            }
        },
        deleteSong () {
            if (confirm("Kas soovid laulu kustutada?")) {
                Api.deleteSong({ _id: this.$data.songdata._id })
                    .then(result => {
                        this.$router.push('/search')
                        var changeText = "Laul kustutati"
                        var fieldName = "Kustuta"
                        var thisChange = new Change(this.titles, changeText, this.userName, this.getDate(), this._id, fieldName)
                        Api.sendChange(thisChange);
                        console.log(result)
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        addAllTitlesToOneString () {
          if(this.songdata.title.estNorth){
            this.titles = this.titles.concat(this.songdata.title.estNorth + "; ");
          }
          if(this.songdata.title.estSouth){
            this.titles = this.titles.concat(this.songdata.title.estSouth + "; ");
          }
          if(this.songdata.title.original){
            this.titles = this.titles.concat(this.songdata.title.original + "; ");
          }
        },
        removeChangeFromListIfExisted: function(fieldName){
          var indexOfExisting = this.changes.findIndex(x => x.field === fieldName);
          if (indexOfExisting > -1) {
            this.changes.splice(indexOfExisting, 1);
          } 
        },
        getDate(){
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = today.getFullYear();

          today = dd + '-' + mm + '-' + yyyy;
          return today
        },
        validateChanges (newInfo, oldInfo, fieldName){
          var changeText
          var thisChange
          if(oldInfo && oldInfo != newInfo && (newInfo || newInfo != '')){
            changeText = fieldName + ": " + oldInfo + " -> " + newInfo
          }
          else if (!oldInfo && newInfo){
            changeText = fieldName + ": Lisati " + newInfo
          }
          else if (oldInfo && (!newInfo ||newInfo == '')){
            changeText = fieldName + ": Kustutati " + oldInfo
          }
          if (oldInfo != newInfo && changeText){
          thisChange = new Change(this.titles, changeText, this.userName, this.getDate(), this._id, fieldName)
          this.removeChangeFromListIfExisted(fieldName);
          this.changes.push(thisChange);
          }
          else if (oldInfo == newInfo || (!oldInfo && (!newInfo ||newInfo == ''))){
            this.removeChangeFromListIfExisted(fieldName);
          }
        },
        sendChanges(){
          for (var i = 0; i < Object.keys(this.changes).length; i++) {
            Api.sendChange(this.changes[i])
          }
    }
    },
    created () {
        if (localStorage.getItem("token")) this.isLoggedIn = true

        Api.getSong(this.searchId)
            .then(res => {
                this.songdata = res.data.song
                if (this.songdata.recordings.length == 0) {
                  this.songdata.recordings = [{ fileLocation: '', description: '' }]
                }
                
                if (!this.songdata.copyRights) {
                  this.songdata.copyRights = {
                    melody: '',
                    text: '',
                    translation: '',
                    publicUse: '',
                    pulicize: '',
                    arrangement: '',
                    other: ''
                  }
                }

                if (!this.songdata.bookReferences) {
                  this.songdata.bookReferences = {
                    LR1721: '',
                    LR1848: '',
                    LR1899: '',
                    KLPR1991: '',
                    Punchel: '',
                    Hagen1: '',
                    Hagen2: '',
                    Hagen3: '',
                    UKLPR: '',
                    KreegiRKVfond: ''
                  }
                }

                if (!this.songdata.bookReferencesPDF) {
                    this.songdata.bookReferencesPDF = {
                        LR1721: null,
                        LR1848: null,
                        LR1899: null,
                        KLPR1991: null,
                        Punchel: null,
                        Hagen1: null,
                        Hagen2: null,
                        Hagen3: null,
                        UKLPR: null,
                        KreegiRKVfond: null
                    }
                }
                
                this.songdata._id = this.$route.params.songId
                this.oldSongData = JSON.parse(JSON.stringify(this.songdata));
                this.songloaded = true
                this.addAllTitlesToOneString();
            })
            .catch(error => console.log(error))
    }
}
</script>