<template>
    <div>
        <br>
        <h3 class="customHeading">Tere tulemast eestikeelse kirikulaulu andmebaasi</h3>
        <hr>
        <p>
            Kirikulaulu rolli meie muusikakultuuris on võimatu üle hinnata. Kas vaatame tuhande aasta vanust kirjalikku muusikakultuuri või meie oma Eesti laulupidu – kõikide määrava tähtsusega nähtuste kujunemise epitsentris on just kirikulaul. See tähendab, et meil lasub kohustus tunda, väärtustada ja hoida kirikulaulu tervikut, eriti aga meie emakeelset kirikulaulu. 
            <br><br>
            Tänaseks on kirikulaulu kultuurkihti lisandunud niivõrd palju kihistusi, et materjalis orienteerumiseks on vaja hästitoimivat võrdlusaparaati. Kirikulaulus kasutatakse nii varasemaid teadaolevaid palasid, kui verivärsket loomingut tänasest päevast. Paljudel vanematel lauludel on olemas erinevaid variante nii meloodias, rütmis, tekstis kui teksti tõlgetes. Seda varandust on vaja talletada elektrooniliselt. Samuti on vaja koguda ja jäädvustada tänapäevast kiriklikku folkloori.
            <br><br>
            Just selleks ongi mitmete inimeste koostöös loodud „Kirikulaulu andmebaas“ ehk KLAB. Selle pikemaajaliseks eesmärgiks on koondada ühtsesse andmebaasi võimalikult terviklik eestikeelse kirikulaulu repertuaar ja pakkuda kogutud materjal kasutamiseks välja nii kirikulaulu igapäevapraktikutele kui seda valdkonda uurivatele teadlastele ja üliõpilastele. Lühemaajaliseks eesmärgiks on EELK uue lauluraamatu koostamine, mis peaks ilmuma aastal 2025. Andmebaas loob võimalused laulude valimiseks trükiväljaandesse ja tulevasse e-lauluraamatusse.
            <br><br>
            Andmebaasi sisuliseks “seemneks” sai professor Toomas Siitani koostatud “Eesti tähtsamate lauluraamatute ja koraaliraamatute tiitlite võrdlev kataloog”, mille ta kogus kokku ja süstematiseeris seoses oma doktoriväitekirjaga Lundi Ülikooli juures. Elektroonilisest kataloogist oli ringlemas ka paberväljatrükk, mille tegi professor Urve Lippus (1950-2015) tõenäoliselt 2000ndate aastate alguses ja mille kaudu selle kataloogi olemasolu sai teatavaks KLABi initsieerijale Eerik Jõksile. Andmebaasi programmeerisid 2019. aasta sügissemestril Tartu Ülikooli Arvutiteaduse Instituudi üliõpilased Magnar Vares, Karl Meldorf, Karl Toomas Vana ja Mihkel Kruusi professor Kuldar Taveteri juhendamisel ühesemestrilise praktikatöö raames. Peale töö valmimist tegeleb KLABi arendamisega Karl Meldorf.
        </p>
        <h3 class="customHeading">Kogukond</h3>
        <hr>
        <p>
            KLABis on kaks erinevat kasutajaliidest: (1) tavakasutaja ning (2) administraator. Tavakasutaja saab vaadata andmebaasis sisalduvat teavet ja seda kasutada. Administraator saab lisada uusi laule ja teha muutusi olemasolevates lauludes. Administraatoriks võib saada igaüks, kes soovib kaasa töötada KLABi laulude sisestamisel ja olemasoleva teabe toimetamisel. Selleks, et saada administraatoriks tuleb kirjutada Eerik Jõksile aadressil eerik.joks@ema.edu.ee
        </p>
        <h3 class="customHeading">Kontakt</h3>
        <hr>
        <p>
            Küsimuste puhul palun kirjutage Eerik Jõksile aadressil eerik.joks@ema.edu.ee
        </p>
    </div>
</template>

<style>
    .customHeading{
        padding: 5px;
        text-align: center;
    }

    p {
        margin: 2em;
        display: flex;
    }
</style>
