<template>
  <div class="overflow-auto">
    <br>
    <b-row>
      <b-col lg="6">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input v-model="filter" type="search" id="filterInput" placeholder="Märksõna"></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Tühjenda</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="6">
        <b-form-group description="Jäta kõik valikud tühjaks, et otsida üle kõigi väljade">
          <b-form-checkbox-group v-model="filterOn" class="mt-1">
            <b-form-checkbox value="songTitles">Pealkiri</b-form-checkbox>
            <b-form-checkbox value="changeText">Muudatused</b-form-checkbox>
            <b-form-checkbox value="author">Autor</b-form-checkbox>
            <b-form-checkbox value="date">Kuupäev</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>
    </b-row>

    <b-table
      id="logTable"
      :per-page="perPage"
      :current-page="currentPage"
      striped
      hover
      :items="items"
      :fields="fields"
      :filter="filter"
      :filterIncludedFields="filterOn"
      @filtered="onFiltered"
    ></b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="totalRows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>
  </div>
</template>

<script>
import Api from '@/Api'

export default {
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      totalRows: 1,
      filter: null,
      filterOn: [],
      fields: [
        {
          key: 'songTitles',
          label: 'Pealkirjad'
        },
        {
          key: 'changeText',
          label: 'Muudatus'
        },
        {
          key: 'author',
          label: 'Autor',
          sortable: true
        },
        {
          key: 'date',
          label: 'Kuupäev'
        }
      ],
      items: []
    };
  },
  created () {
    Api.getLogs()
      .then(res => {
        console.log(res.data)
        this.items = res.data.logs
        this.items.reverse();
        this.totalRows = this.items.length;
      })
      .catch(error => console.log(error))
  },
  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>