<template>
<div class="container">
    <b-form>
        <h2>Sisse logimine</h2>
        <br>
        <label style="float:left;" for="text-username">E-mail</label>
        <b-input type="text" id="text-username" v-model="userData.email"></b-input>
        <br>
        <label style="float:left;" for="text-password">Salasõna</label>
        <b-input type="password" id="text-password" v-model="userData.password"></b-input>
        <br>
        <div>{{errorMsg}}</div>
        <br>
        <div style="text-align:center;">
            <b-button variant="primary" @click="loginHandler">Logi sisse</b-button>
        </div>
    </b-form>
</div>
</template>

<style scoped>
    .container {
        width: 60%;
        margin-top: 4em;
    }
</style>

<script>
import Api from '@/Api'

export default {
    data () {
        return {
            errorMsg: '',
            userData: {
                email: '',
                password: ''
            }
        }
    },

    methods: {
        loginHandler () {
            Api.postLogin(this.$data.userData)
                .then(result => {
                    localStorage.setItem('token', result.data.token)
                    localStorage.setItem('email', result.data.email)
                    localStorage.setItem('userId', result.data.userId)
                    this.$router.push('/')
                    this.$router.go()
                })
                .catch(err => {
                    console.log(err)
                    this.errorMsg = "Wrong username or password!"
                })
        }
    }
}
</script>