<template>
<div class="container">
    <b-form> 
        <h2>Registreeri</h2>
        <br>
        <!-- autofill off work around -->
        <b-input type="text" style="opacity: 0;position: absolute;" v-model="userData.lastname"></b-input>
        <b-input type="password" style="opacity: 0;position: absolute;" v-model="userData.password"></b-input>
        <label style="float:left;">Eesnimi</label>
        <b-input type="text" v-model="userData.firstname"></b-input>
        <br>
        <label style="float:left;">Perenimi</label>
        <b-input type="text" v-model="userData.lastname"></b-input>
        <br>
        <label style="float:left;">Salasõna</label>
        <b-input type="password" v-model="userData.password"></b-input>
        <br>
        <label style="float:left;">Salasõna uuesti</label>
        <b-input type="password" v-model="userData.passwordAgain"></b-input>
        <br>
        <div>{{errorMsg}}</div>
        <br>
        <div style="text-align:center;">
            <b-button variant="primary" @click="registerHandler">Logi sisse</b-button>
        </div>
    </b-form>
</div>
</template>

<style scoped>
    .container {
        width: 60%;
        margin-top: 4em;
    }
</style>

<script>
import Api from '@/Api'

export default {
    data () {
        return {
            userData: {
                _id: '',
                firstname: '',
                lastname: '',
                password: '',
                passwordAgain: ''
            },
            errorMsg: ''
        }
    },

    methods: {
        registerHandler () {
            if (this.userData.password !== this.userData.passwordAgain) {
                this.errorMsg = 'Salasõnad ei klapi!'
                return
            }

            if (this.userData.password.length < 6) {
                this.errorMsg = 'Salasõna peab olema vähemalt 6 tähte pikk!' 
                return
            }

            if (this.userData.firstname.length < 1 || this.userData.lastname.length < 1 ) {
                this.errorMsg = 'Eesnimi ja perenimi on kohustuslikud!'
                return
            }

            Api.registerUser(this.$data.userData)
                .then(result => {
                    console.log(result)
                    if (result.data.message !== "success") {
                        this.errorMsg = result.data.message
                    } else {
                        this.$router.push('/admin?reg=success')
                        this.$router.go()
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        }
    },

    created() {
        this.userData._id = this.$route.query.registrationCode
    }
}
</script>