<template>
  <div class="container-fluid">
    <br>
    <div class="container border border-light rounded p-4">

      <kriteerium data-cy="criteria" v-for="krit in crits" v-bind:key="krit" :radioName='"radio-" + critId' :criterias='crits'></kriteerium>

      <div class="row mb-2">
        <div class="col">
          <button class="btn btn-outline-success mx-auto col" type="button" id="button-addon2" @click='addCriteria'>Lisa kriteerium</button>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <select id="moot" class="form-control" v-model='selectedRythm'>
            <option value='' selected>Mõõt</option>
            <option v-for="moot in moodud" v-bind:key="moot">{{ moot }}</option>
          </select>
        </div>

        <div class="col">
          <select id="lauluraamat" class="form-control" v-model='selectedBook'>
            <option value='' selected>Vali lauluraamat</option>
            <option v-for="raamat in lauluraamatud" v-bind:key="raamat">{{ raamat }}</option>
          </select>
        </div>

        <!-- <div class="col">
          <input type="text" class="form-control" placeholder="Stroofi valem" v-model='selectedStroof'>
        </div> -->
      </div>

      <!-- <div class="row mb-3">
        <div class="col">
          <select id="autorioigus" class="form-control" disabled>
            <option value='not_selected' disabled selected>Autoriõigused</option>
            <option v-for="oigus in autorioigused" v-bind:key="oigus">{{ oigus }}</option>
          </select>
        </div>
      </div> -->

      <div class="row mb-1">
        <!-- <div class="mx-auto col"> -->
        <b-button id="searchButton" type="button" class="btn btn-primary mx-auto col-md-4" variant="primary" @click="doSearch">Otsi</b-button>
        <!-- </div> -->
      </div>
    </div>

    <hr>
    <b-badge pill :variant="(this.numSongs !== 0) ? 'success' : 'danger'">Vasteid: {{ this.numSongs }}</b-badge>
    <hr>

    <div>
      <ul class="list-unstyled">
        <b-media tag="li" v-for="(song, index) in songs" v-bind:key="index">
          <div class="row">
            <div class="col-md-0">
              <b-badge pill variant="info" v-b-tooltip.hover title="UID">{{ song.UID }}</b-badge>
            </div>
            <div data-cy="songItem" class="col">
              <div v-if="song.title">
                <div v-if="song.title.estNorth && song.title.original">
                  <!-- originaal ja eesti pealkiri -->
                  <h5 class="mt-0 mb-1">{{ song.title.original }}</h5>
                  <h6 class="mt-0 mb-1">{{ song.title.estNorth }}</h6>
                </div>
                <div v-if="!song.title.estNorth || !song.title.original">
                  <h5 v-if="song.title.original" class="mt-0 mb-1">{{ song.title.original }}</h5>
                  <h5 v-else-if="song.title.estNorth" class="mt-0 mb-1">{{ song.title.estNorth }}</h5>
                  <h5 v-else class="mt-0 mb-1">{{ song.title.estSouth }}</h5>
                </div>
              </div>
                <!-- <p class="mb-0">
                  {{ song.textAuthor.firstName }}
                  {{ song.textAuthor.lastName }}
                </p> -->
            </div>
            <div class="col">
              <b-button class="buttonToDetailView" variant="info" v-bind:href="'detailView/'+ song._id">Laulu detailivaade</b-button>
              <b-button v-if="isLoggedIn" class="buttonToDetailView" variant="secondary" v-bind:href="'editSong/'+ song._id">Muuda laulu</b-button>
            </div>
          </div>
          <hr>
        </b-media>
      </ul>
    </div>
    <div class="overflow-auto">
      <b-pagination-nav :pages="pageLinks" use-router></b-pagination-nav>
    </div>
  </div>
</template>

<style scoped>
.buttonToDetailView{
  float: right;
}
</style>

<script>
import Api from '@/Api'
import Kriteerium from '@/components/Kriteerium.vue'

export default {
  created () {
    this.initSongs()
    if (localStorage.getItem("token")) this.isLoggedIn = true
  },
  components: {
    kriteerium: Kriteerium
  },
  data () {
    return {
      isLoggedIn: false,
      lauluraamatud: ['LR1721', 'LR1848', 'LR1899', 'KLPR1991', 'Punschel', 'Hagen I', 'Hagen II', 'Hagen III', 'UKLPR', 'KreegiRKVfond'],
      moodud: ['Jamb', 'Trohheus', 'Daktül', 'Sega', 'Proosa'],
      autorioigused: ['a1', 'a2'],
      kriteeriume: 1,
      crits: ['radio-1'],
      critId: 1,
      categories: ['Autor', 'Pealkiri', 'Hümnoloogiline teave', 'Bibliograafiline teave'],
      songs: [],
      addCritText: '',
      addCritCat: 'Vali kategooria',
      selectedBook: '',
      selectedRythm: '',
      selectedStroof: '',
      start: 0,
      page: 1,
      numSongs: 0,
      numPages: 0,
      pageLinks: []
    }
  },
  watch: {
    urlQuery () {
      this.initSongs()
    }
  },
  computed: {
    urlQuery () {
      return this.$route.query
    },
    numBadge () {
      return (this.numSongs !== 0) ? 'success' : 'danger'
    }
  },
  methods: {
    initSongs () {
      Api.getSongs(this.$route.query)
      .then(res => {
        this.songs = res.data.songs
      })
      .catch(error => console.log(error))

      Api.getNumSongs(this.$route.query)
      .then(res => {
        this.numSongs = res.data.numSongs
        return this.numSongs
      })
      .then(result => {
        this.numPages = Math.ceil(this.numSongs / 40)
        console.log(result)

        // make list of pagination links
        this.pageLinks = []
        for (let index = 0; index < this.numPages; index++) {
          var q = {...this.$route.query}
          q.start = index * 40

          this.pageLinks.push({link: {query: q}})
        }
      })
      .catch(error => console.log(error))
    },
    doSearch: function () {
      let qu = ''
      var critComponents = this.$children.filter(child => { return child.$options._componentTag === 'kriteerium' })

      // loop through 
      for (const child of critComponents) {
        let category = child.catVal
        let text = child.textVal.toLowerCase()
        if (category === '' || text === '') {
          continue
        }

        if (child.rName !== 'radio-1') {
          qu += '+' + child.picked + '+'
        }
        qu += category + '+' + text 
      }
      let queryObj = {start: this.start}
      if (qu !== '') queryObj['q'] = qu
      if (this.selectedRythm !== '') queryObj['rhythm'] = this.selectedRythm
      if (this.selectedBook !== '') queryObj['book'] = this.selectedBook

      this.$router.push({query: queryObj}).catch(err => {
        console.log(err)
      })
    },
    addCriteria: function () {
      this.kriteeriume += 1
      this.critId += 1
      this.crits.push('radio-' + this.critId)
    },
    removeCriteria: function () {
      this.kriteeriume -= 1
    }
  }
}
</script>
