<template>
  <div class="container">
    <div class="row mb-2">
      <div v-if="this.rName !== 'radio-1'" class="form-control input-group-append col-md-3">
        <label class="radio-inline"><input type="radio" :name='rName' value="AND" checked v-model="picked">JA</label>
        <label class="radio-inline"><input type="radio" :name='rName' value="OR" v-model="picked">VÕI</label>
        <!-- <label class="radio-inline"><input type="radio" disabled :name='rName' value="not" v-model="picked">EI</label> -->
      </div>
    </div>
    <div class="row mb-2">
      <div class="input-group">
        <select id="category" class="form-control input-group-append col-md-3" v-model='catVal'>
          <option selected value="">Vali kategooria</option>
          <option value="AU">Autor</option>
          <option value="TI">Pealkiri</option>
          <option value="ST">stroofivalem</option>
          <option value="HI">Hümnoloogiline teave</option>
          <option value="BI">Bibliograafiline teave</option>
          <option value="UKLPRC">UKLPR peatükk</option>
          <option value="UKLPRSC">UKLPR alapeatükk</option>
          <option value="UKLPRNR">UKLPR number</option>
        </select>
        <input data-cy="searchText" type="text" class="form-control input-group-append" v-model='textVal' aria-label="Text input with dropdown button" placeholder="Lisa otsingu tekst"/>
        <!-- </div> -->

        <button class="btn btn-outline-danger" type="button" id="button-addon2" @click='removeCrit' :disabled="this.rName === 'radio-1'">Eemalda kriteerium</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      textVal: '',
      catVal: '',
      picked: 'AND',
      rName: this.radioName,
      isRemoved: false
    }
  },
  props: ['radioName', 'criterias'],
  methods: {
    removeCrit: function () {
      var index = this.criterias.indexOf(this.rName)
      console.log(index)
      if (index !== -1) this.criterias.splice(index, 1)
      console.log(this.criterias)
    }
  }
}
</script>
