<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <router-link to="/" activeClass="active" tag="li" class="nav-item"><a class="nav-link">KLAB</a></router-link>
          <router-link :to="{ path: '/search', query: {start: 0} }" activeClass="active" tag="li" class="nav-item"><a class="nav-link">Otsi</a></router-link>
          <router-link v-if="isLoggedIn" to="/lisa-laul" activeClass="active" tag="li" class="nav-item"><a class="nav-link">Lisa laul</a></router-link>
          <router-link v-if="isLoggedIn" to="/log" activeClass="active" tag="li" class="nav-item"><a class="nav-link">Logi</a></router-link>
          <router-link v-if="isLoggedIn" to="/admin-panel" activeClass="active" tag="li" class="nav-item"><a class="nav-link">Adminid</a></router-link>
        </ul>
        <b-button id="logoutButton" v-if="isLoggedIn" variant="light" @click="logoutHandler" >Logi välja</b-button>
      </div>
    </div>
  </nav>
</template>

<style scoped>
  .container {
    width: 80%
  }
</style>

<script>
export default {
  data (){
    return {
      isLoggedIn: false,
    }
  },

  methods: {
    logoutHandler () {
      localStorage.removeItem('token')
      this.isLoggedIn = false
    }
  },

  created () {
    if (localStorage.getItem("token")) this.isLoggedIn = true
  }
}
</script>


