<template>
    <div class="row">
      <div class="col-md-0">
        <b-badge pill variant="info" v-b-tooltip.hover title="UID">{{ this.songData.UID }}</b-badge>
      </div>
      <div class="col">
        <h5 class="mt-0 mb-1">{{ this.songData.title.original }}</h5>
        <!-- <p class="mb-0">
          {{ song.textAuthor.firstName }}
          {{ song.textAuthor.lastName }}
        </p> -->
      </div>
      <div class="col">
        <b-button class="buttonToDetailView" variant="info" v-bind:href="'detailView/'+ this.songData._id">Laulu detailivaade</b-button>
        <b-button v-if="isLoggedIn" class="buttonToDetailView" variant="secondary" v-bind:href="'editSong/'+ this.songData._id">Muuda laulu</b-button>
      </div>
    </div>
</template>

<script>
export default {
  props: ['songData']
}
</script>
